"*":
  "atom-material-ui":
    colors:
      abaseColor: "#cddc39"
      accentColor: "#737f10"
      genAccent: true
      paintCursor: true
      predefinedColor: "Lime"
    fonts: {}
    tabs:
      compactTabs: true
    ui:
      useAnimations: false
  "autocomplete-plus":
    autoActivationDelay: 500
    backspaceTriggersAutocomplete: true
    minimumWordLength: 2
  autosave:
    enabled: true
  "bracket-matcher":
    autocompleteBrackets: false
  "code-links":
    modifierKey: "meta"
  core:
    audioBeep: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "autocomplete-snippets"
      "fast-eslint"
      "linter"
      "tree-view"
    ]
    excludeVcsIgnoredPaths: false
    projectHome: "/Users/adam/Projects/"
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-muted-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "inconsolata"
    fontSize: 19
    invisibles: {}
    scrollSensitivity: 30
    showInvisibles: false
    softWrap: false
    softWrapHangingIndent: 3
  "exception-reporting":
    userId: "4f5812d8-5daf-1b1d-476a-72445b15a70e"
  "git-blame":
    dateFormatString: "YYMMDD"
  "isotope-ui":
    fontFamily: "Fira Sans"
    fontWeight: "Light"
    lowContrastTooltip: true
    matchEditorFont: true
    minimalMode: true
  "language-babel":
    autoIndentJSX: true
  linter:
    lintOnFly: false
    showErrorPanel: false
    showErrorTabFile: false
    showErrorTabProject: false
    statusIconScope: "File"
  "linter-eslint":
    rulesToSilenceWhileTyping: [
      "prettier/prettier"
    ]
  "linter-pep8":
    pep8ExecutablePath: "/usr/local/bin/pep8"
  "linter-ui-default":
    panelHeight: 164
    showPanel: true
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  metrics:
    userId: "c08213bce260da93adbf0abd7ad7a022f72155de"
  nuclide:
    "nuclide-home":
      showHome: false
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
  preview:
    _analyticsUserId: "9a423bea-128d-4cad-ba0b-32935d68a59d"
  "release-notes":
    viewedVersion: "0.93.0"
  runner:
    extensions:
      "spec.coffee": "coffee"
  "vim-mode":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: true
    removeTrailingWhitespace: true
