/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */
@lavender: #C8D7E8;
@yellow: #E9EE00;
@teal: #4ECDC4;
@slime: #8FBE00;

// Hide icons in the tree sidebar
.tree-view .icon::before {
  display: none;
}
