/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */
@lavender: #C8D7E8;
@yellow: #E9EE00;
@teal: #4ecdc4;
@slime: #8fbe00;

html,
body {
  // These affect UI fonts with the Isotope UI theme.
  // Editor fonts are more specfic.
  font-size: 15px;
  font-family: "Inconsolata";
}

// Hide icons in the tree sidebar
.nuclide-file-tree-toolbar-container .name.icon::before,
.tree-view .name.icon::before {
  // display: none;
}

.nuclide-file-tree-toolbar-container {
  background-color: none;
}

// Give active tab plenty of room
.tab-bar .tab {
  max-width: 300px;
  &.active {
    -webkit-flex: 3;
  }
}

// Center the command palette a lil
atom-panel.modal {
  margin-top: 10%;
}

// Make code-links plugin underlines more subtle
body.code-links-visible atom-text-editor::shadow {
  .code-links .region {
    border-bottom: thin solid rgba(155, 155, 255, 0.4);
  }
}
